:host {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-start;
}

button {
  font-size: 1.2rem;
  padding: .5rem 3rem;
  outline: none;
  &.active {
    background-color: rgb(144,240,144);
  }
}

select {
  font-size: 1.2rem;
  margin-top: 2rem;
}
